.serif { font-family: $serif }
.sans-serif { font-family: $sans-serif }

.text-dark { color: $dark }
.text-cream {color: $cream }
.text-orange { color: $orange }
.text-grey { color: $grey }
.text-white { color: $white }

.text-expand {
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
        letter-spacing: 3px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.text-left { text-align: left !important }
.text-right { text-align: right !important }
.text-center { text-align: center !important }

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;

    @extend .sans-serif;
}